@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
body{
    background-image: url("resources/capocchia.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Belanosima", system-ui;
    color: white;
    place-items: center center;
    display: grid;
    gap: 20pt;
    margin:0;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
header {
    width: calc(100% - 40pt);
    background-color: #ff00ff80;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 20pt 0 20pt;
    box-shadow: 0px 0px 10pt black;
    text-shadow: 0 0 10pt black;
    z-index: 1000;
}
.site {
    display: flex;
    align-items: center;
    cursor:pointer;
    font-family: "Racing Sans One", system-ui;
}

header .logo {
    height: 50pt;
    margin-right: 10pt;
    box-shadow: 0 0 10pt black;
    border-radius: 100%;
}

main{
    width: 75%;
    display: flex;
    align-items: center;
    background-color: #000000aa;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20pt;
    color: white;
    padding: 20pt;
    box-shadow: 0px 0px 10px black;
}
div.signIn{
    width: 75%;
    float: left;
    text-shadow: 0px 0px 10px black;
}

div.signUp{
    width: 75%;
    float: left;
    text-shadow: 0px 0px 10px black;
}

div.form{
    padding: 20pt;
    background-color: #ff00ff80;
    border-radius: 20pt;
    color: white;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
    display: block;
    place-items: center stretch;
    gap: 20pt;
}
.success-box {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    place-items: center center;
    background-color: #00ff0080;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    padding: 0.5em 20pt 0.5em 20pt;
    border-radius: 20pt;
    box-shadow: 0 0 10px black;
    text-shadow: 0 0 10px black;
    margin-bottom: 20pt;
    text-align: center;
}
.error-box {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    place-items: center center;
    background-color: #ff000080;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    padding: 0.5em 20pt 0.5em 20pt;
    border-radius: 20pt;
    box-shadow: 0 0 10px black;
    text-shadow: 0 0 10px black;
    margin-bottom: 20pt;
    text-align: center;
}
.submit{
    margin-top: 20pt;
}

.input-row{
    
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    place-items: center stretch
}
.input-row i{
    place-self: center right;
}
div.switch{
    padding: 20pt;
    margin-top: 20pt;
    background-color: #00b7ff80;
    border-radius: 20pt;
    color: white;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
    display: grid;
    place-items: center normal;
    grid-template-columns: repeat(2, 1fr);
}

main .logo{
    width: 25%;
    border-radius: 100%;
    box-shadow: 0px 0px 20px #ffbf00;
    margin: 0 0 0 20pt;
}
input{
    border-style: hidden;
    font-size: large;
    color: white;
    font-family: "Belanosima", system-ui;
    text-shadow: 0px 0px 10px black;
 
}

input.text{
    background-color: transparent;
    padding: 0.5em 1em 0.5em 0;
}

input.button{
    border-radius: 20pt;
    background-color: #00000080;
    padding: 0.5em 1em 0.5em 1em;
    width:100%;
    cursor:pointer;
}
input::placeholder{
    color: white;
    opacity: 1;
    text-shadow: 0px 0px 10px black;

}

input:focus{
    outline: none;
    background-color: transparent;
}

input:autofill{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

input.button:active,
input.button:hover,
input.button:focus {
    border-radius: 20pt;
    background-color: #00000080; /* più scuro quando premuto */
    padding: 0.5em 1em;
    box-shadow: 0 0 10px black;
}

footer {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    vertical-align: baseline;
}

#footer-box {
    background-color: #00b7ff80; /* colore solido */
    color: white;
    padding: 5px;
    margin: 0 auto;
    font-size: 10px;
}

#footer-box p {
    margin: 5px 0;
}
