@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

/*PAGAMENTO*/
main{
    background-color: transparent;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    align-content: center;
    min-height: 89vh;
}
.payment-container {
    display: block;
    background: #000000aa;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20pt;
    border-radius: 20pt;
    border: 2px solid #00b7ff;
    box-shadow: 0 0 10pt rgba(0, 183, 255, 0.3);
    color: white;
    justify-items: stretch;
    margin:20pt;
}

.recap-box {
    background: #252525;
    padding: 15px;
    border-radius: 20pt;
    margin-bottom: 20px;
    border-left: 20pt solid #ff00ff;
    text-align: justify;
    box-shadow: 0 0 10pt black;
}

.payment-form {
    display: grid;
    place-items: center stretch;
    color: white;
    text-shadow: 0 0 10pt black;
}

.payment-form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 0.9em;
    color: white;
}

.payment-form input[type="text"] {
    padding: 1em;
    background: #333;
    border: 1px solid #444;
    color: white;
    border-radius: 20pt;
    margin-bottom: 10px;
    box-shadow: 0 0 10pt black;
    text-shadow: 0 0 10pt black;
    font-family: 'Belanosima', sans-serif;
}
.payment-form input[type="text"]:focus{
    outline: none;
    border: 1px solid #00b7ff;
    box-shadow: 0 0 10px #ff00ff;
    z-index: 1;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center stretch;
    gap: 0;

}

.form-row input#scadenza {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    clip-path: inset(-20px 0 -20px -20px);
}

.form-row input#cvv {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    clip-path: inset(-20px -20px -20px 0);
}

.btn-pay {
    padding: 1em;
    background: #ff00ff;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20pt;
    margin-top: 15px;
    transition: 0.3s;
    font-family: 'Belanosima', sans-serif;
}

.btn-pay:hover {
    box-shadow: 0 0 10px #ff00ff;
}

.btn-cancel {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: red;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Belanosima', sans-serif;
}